/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color:black;
    font-weight: bold;
    text-decoration: none;
}

section {
    padding: 15px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
}

 
    
    

/* Your existing CSS styles */
img{
    width: 40px; /* Adjust the size as needed */
    height: auto;
    margin-left: 10px; /* Add spacing between the text and the icon */
    vertical-align: middle;
    
}



















